[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "awesome/lain"]
	path = awesome/lain
	url = git@github.com:lcpz/lain.git
[submodule "urxvt-perls"]
	path = urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
