extends texmath

snippet ... "dots" b
\dots
endsnippet

snippet => "Rightarrow" b
\Rightarrow
endsnippet

snippet -> "rightarrow" b
\rightarrow
endsnippet

snippet <-> "leftrightarrow" b
\leftrightarrow
endsnippet

snippet <- "leftarrow" b
\leftarrow
endsnippet

snippet <=> "iff" b
\iff
endsnippet
